<!DOCTYPE html>
<html>
<head>
  <title>BeWHOled Game</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
  <meta property="og:title" content="BeWHOled Game"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://bewholedgame.com/"/>
    <meta property="og:image" content="http://bewholedgame.com/assets/who_site_image.png"/>
    <meta property="og:site_name" content="BeWHOled Game"/>
    <meta property="og:description" content="BeWHOled - a Doctor Who inspired Bejeweled clone."/>
  <meta name="author" content="Emma Steimann" />
  <meta name="title" content="BeWHOled Game"/>
    <meta name="type" content="website"/>
    <meta name="url" content="http://bewholedgame.com/"/>
    <meta name="image" content="http://bewholedgame.com/assets/who_site_image.png"/>
    <meta name="site_name" content="BeWHOled Game"/>
    <meta name="description" content="BeWHOled - a Doctor Who inspired Bejeweled clone."/>
  <link rel="shortcut icon" href="assets/favicon.ico" />
  <link href='assets/favicon.ico' rel='icon' />
  <link href='http://fonts.googleapis.com/css?family=Skranji' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="https://github.com/emmasteimann/bejeweled" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<%= yield %>
<footer style="text-align: center;">Copyright Emma Steimann 2012<br/><div class="details">Gems borrowed from <a href="http://iconfactory.com/freeware/preview/dwho" target="_blank">Iconfactory - Gedeon Maheux</a></div><br/><a class="my_site" href="http://rainydayinteractive.net" target="_blank">rainydayinteractive.net</a></footer>
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34951305-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
